/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.skiptranslate iframe {display:none !important;}

html{height:100%;}

body{
	position: relative; 
	min-height: 100%; 
	top: 0px;
}

#google_translate_element{
    display:none !important;
}
.translation-links{
    position: absolute;
    top: -17px;
    right: 145px;
}
.translation-links li{
    list-style:none;
    float:left;
    padding:5px 7px;
    margin:0;
    width:22px;
    height:15px;
                
}
.translation-links a, .translation-links img{
    padding:0;
    margin:0;
    width:22px;
    height:15px;
    float:left;
}
.translation-links li:hover{
    background:#FFF;
}

body{
    top: 0px !important;
    position: relative;
    height: 100%;
}
#header {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  height: 65%;
}
#header .center {
  padding: 20px 0 25px;
  position: relative;
}
#header #google_translate_element {
  position: absolute;;
  top: 3px;
  right: 151px;
}

#header .navContainer #logo {
  display: block;
  width: 180px;
  height: 46px;
  float: left;
  background: url(../img/logo.png);
  margin: 0 65px 0 105px;
  position: relative;
}
#header .navContainer .menuZindex {
  position: relative;
  z-index: 2;
}
#header .navContainer nav ul {
  margin: 0 0 0 0;
  padding-top: 12px;
}
#header .navContainer nav ul li {
  float: left;
  margin: 0 15px;
}
#header .navContainer nav ul li a {
  font-size: 14px;
  font-size: 0.9rem;
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
}
#header .navContainer nav ul li a:hover {
  color: #a79f22;
}

#header #fillWrapper {
  height: 91px;
  position: relative;
  display: none;  
}
#header .courtain {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 91px;
  display: none;
}
#header .navContainer.fixedNav #logo {
  display: block;
  width: 180px;
  height: 46px;
  float: left;
  background: url(../img/logo_menu_fixo.png);
  margin: 0 65px 0 105px;
}
#header .navContainer.fixedNav {
  z-index: 9999; 
  position: fixed; 
  left: 0; 
  top: 0; 
  width: 100%;  
  -webkit-box-shadow: 0px 10px 25px 0px rgba(50, 50, 50, 0.7);
  -moz-box-shadow:    0px 10px 25px 0px rgba(50, 50, 50, 0.7);
  box-shadow:         0px 10px 25px 0px rgba(50, 50, 50, 0.7);
}
#header .navContainer.fixedNav nav ul {
  margin: 0 0 0 0;
  padding-top: 12px;
}
#header .navContainer.fixedNav nav ul li {
  float: left;
  margin: 0 15px;
}
#header .navContainer.fixedNav nav ul li a {
  font-size: 14px;
  font-size: 0.9rem;
  color: #135328;
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
}
#header .navContainer.fixedNav nav ul li a:hover {
  color: #a79f22;
}

#footer {
  position: relative;
  height: 260px;
  background-color: #135328;
  color: #fff;
  text-transform: uppercase;
}
#footer .bgTopoRodape {
  position: relative;
  top: -30px;
  background: url(../img/bgTopoRodape.png) top left repeat-x;
  height: 52px;
}
#footer .centralAtendimento {
  float: left;
}
#footer .horarioAtendimento {
  float: right;
}
#footer #logoRodape {
  display: block;
  width: 275px;
  height: 87px;
  margin: 0 auto;
}
#footer .clearfix {
  margin-top: 70px;
  text-align: center;
}
#acessibilidade{
	background-image:url(../img/icones/acessibilidade.png);
	background-repeat:no-repeat;
	background-position:0px;
}
#acessibilidade a{
	color:#FFF;
	text-transform:uppercase;
	font-weight:bold;
	padding-left:35px;
	font-size:17px;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.center {
  width: 1220px;
  margin: 0 auto;
}
.yellowButton,
.greenButton {
  border: none;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  font-size: 1.12rem;
  font-weight: 800;
  color: #fff;
  padding: 0 50px;
  text-transform: uppercase;
}
.yellowButton {
  background-color: #aba000;
}
.greenButton {
  background-color: #135328;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*# sourceMappingURL=main.css.map */